<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioRestaurantes" />
                <binding name="BasicHttpBinding_IServicioUsuarios" />
                <binding name="BasicHttpBinding_IServicioReservas" />
                <binding name="BasicHttpBinding_IServicioReservas1" />
                <binding name="BasicHttpBinding_IServicioRestaurantes1" />
                <binding name="BasicHttpBinding_IServicioUsuarios1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiciosWCF/ServicioRestaurantes/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioRestaurantes"
                contract="ProxyRestaurantes.IServicioRestaurantes" name="BasicHttpBinding_IServicioRestaurantes" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiciosWCF/ServicioUsuarios/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioUsuarios"
                contract="ProxyUsuarios.IServicioUsuarios" name="BasicHttpBinding_IServicioUsuarios" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiciosWCF/ServicioReservas/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioReservas"
                contract="ProxyReservas.IServicioReservas" name="BasicHttpBinding_IServicioReservas" />
            <endpoint address="http://desktop-dgauu9u/WCF_Reservas/ServiciosWCF.ServicioReservas.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioReservas1"
                contract="ProxyReserva.IServicioReservas" name="BasicHttpBinding_IServicioReservas1" />
            <endpoint address="http://desktop-dgauu9u/WCF_Reservas/ServiciosWCF.ServicioRestaurantes.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioRestaurantes1"
                contract="ProxyRestaurante.IServicioRestaurantes" name="BasicHttpBinding_IServicioRestaurantes1" />
            <endpoint address="http://desktop-dgauu9u/WCF_Reservas/ServiciosWCF.ServicioUsuarios.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioUsuarios1"
                contract="ProxyUsuario.IServicioUsuarios" name="BasicHttpBinding_IServicioUsuarios1" />
        </client>
    </system.serviceModel>
</configuration>