<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear/>
				<add value="WebInicio.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicioRestaurantes" />
        <binding name="BasicHttpBinding_IServicioReseñas" />
        <binding name="BasicHttpBinding_IServicioUsuarios" />
        <binding name="BasicHttpBinding_IServicioReservas" />
        <binding name="BasicHttpBinding_IServicioUsuarios1" />
        <binding name="BasicHttpBinding_IServicioRestaurantes1" />
        <binding name="BasicHttpBinding_IServicioReservas1" />
        <binding name="BasicHttpBinding_IServicioResenas" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiciosWCF/ServicioRestaurantes/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioRestaurantes"
        contract="ProxyRestaurantes.IServicioRestaurantes" name="BasicHttpBinding_IServicioRestaurantes" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiciosWCF/ServicioRese%C3%B1as/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioReseñas"
        contract="ProxyReseñas.IServicioReseñas" name="BasicHttpBinding_IServicioReseñas" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiciosWCF/ServicioUsuarios/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioUsuarios"
        contract="ProxyUsuarios.IServicioUsuarios" name="BasicHttpBinding_IServicioUsuarios" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiciosWCF/ServicioReservas/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioReservas"
        contract="ProxyReservas.IServicioReservas" name="BasicHttpBinding_IServicioReservas" />
      <endpoint address="http://desktop-dgauu9u/WCF_Reservas/ServiciosWCF.ServicioUsuarios.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioUsuarios1"
        contract="ProxyUsuario.IServicioUsuarios" name="BasicHttpBinding_IServicioUsuarios1" />
      <endpoint address="http://desktop-dgauu9u/WCF_Reservas/ServiciosWCF.ServicioRestaurantes.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioRestaurantes1"
        contract="ProxyRestaurante.IServicioRestaurantes" name="BasicHttpBinding_IServicioRestaurantes1" />
      <endpoint address="http://desktop-dgauu9u/WCF_Reservas/ServiciosWCF.ServicioReservas.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioReservas1"
        contract="ProxyReserva.IServicioReservas" name="BasicHttpBinding_IServicioReservas1" />
      <endpoint address="http://desktop-dgauu9u/WCF_Reservas/ServiciosWCF.ServicioResenas.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioResenas"
        contract="ProxyResena.IServicioResenas" name="BasicHttpBinding_IServicioResenas" />
    </client>
  </system.serviceModel>
</configuration>